{% extends "main.html" %}

{% load account %}

{% block head_title %}Confirmar endereço de e-mail{% endblock %}


{% block content %}
<div id="gradient-background">
    <div id="login-box">
        <h1>Confirme seu endereço de e-mail</h1>

        {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>Por gentileza, confirme que {{ confirmation.email_address.email }} é um e-mail do seu usuário {{ user_display }}.</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
        {% csrf_token %}
            <button type="submit">Confirmar</button>
        </form>

        {% else %}

        {% url 'account_email' as email_url %}

        <p>O link desse e-mail de verificação expirou. Por favor, <a href="{{ email_url }}">Solicite um novo e-mail de verificação</a>.</p>

        {% endif %}

    </div>
</div>


{% endblock %}
