{% extends "main.html" %}

{% block head_title %}Logout{% endblock %}

{% block content %}
<div id="gradient-background">
    <div id="login-box">
        <h1>Sair da Conta</h1>

        <p>Tem certeza que quer sair da sua conta?</p>

        <form method="post" action="{% url 'account_logout' %}">
          {% csrf_token %}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
          {% endif %}
        <br>
          <button type="submit">Sair</button>
        </form>
    </div>
</div>


{% endblock %}
