{% extends "main.html" %}

{% block head_title %}Mudar Senha{% endblock %}

{% block content %}
<div id="gradient-background">
    <div id="login-box">
        <h1>Mudar Senha</h1>

        <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" name="action">Mudar Senha</button>
            <a href="{% url 'account_reset_password' %}">Esqueceu a senha?</a>
        </form>
    </div>
</div>
{% endblock %}
