{% extends "main.html" %}

{% block head_title %}Mudar Senha{% endblock %}

{% block content %}
<div id="gradient-background">
    <div id="login-box">
        <h1>{% if token_fail %}Token Inválido{% else %}Mudar Senha{% endif %}</h1>

        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>O link de alteração de senha está inválido, possivelmente já foi usado. Por favor, solicite um <a href="{{ passwd_reset_url }}">novo link</a>.</p>
        {% else %}
            <form method="POST" action="{{ action_url }}">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" name="action" value="{% trans 'change password' %}"/>
            </form>
        {% endif %}
    </div>
</div>
{% endblock %}
