{% extends "main.html" %}

{% load account %}

{% block head_title %}Redefinição de Senha{% endblock %}

{% block content %}
<div id="gradient-background">
    <div id="login-box">
        <h1>Redefinição de Senha</h1>

        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>Nós mandamos um e-mail. Caso não receba, verifique a caixa de spam, por favor. Caso não tenha recebido a mensagem dentro de alguns minutos, entre em contato conosco.</p>
    </div>
</div>
{% endblock %}
