{% extends "main.html" %}

{% load account %}

{% block head_title %}Redefinir Senha{% endblock %}

{% block content %}
<div id="gradient-background">
    <div id="login-box">
        <h1>Redefinir Senha</h1>
        <br>
        {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
        {% endif %}

        <p>Esqueceu sua senha? Digite seu e-mail abaixo <br>e vamos mandar um e-mail para você redefinir sua senha.</p>
        <br>
        <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Redefinir minha senha" />
        </form>
        <br>
        <p>Por favor, entre em contato caso tenha problemas para redefinir sua senha.</p>
    </div>
</div>
{% endblock %}
