{% extends "main.html" %}

{% block head_title %}Cadastre-se{% endblock %}

{% block content %}

<div id="gradient-background">
    <div id="login-box">
        <div class="login-txt-column">
            <h1>Cadastre-se</h1>
            <br>
            <p>Já tem uma conta? Então faça <a href="{{ login_url }}">login</a>!</p>
        </div>
        <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
          {% csrf_token %}
          {{ form.as_p }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
        <br>
          <button type="submit">Cadastrar</button>
        </form>
    </div>
</div>
{% endblock %}
