{% extends "main.html" %}

{% block head_title %}Verificação de E-mail Necessária{% endblock %}

{% block content %}
<div id="gradient-background">
    <div id="login-box">
        <h1>Verificação de e-mail necessária</h1>

        {% url 'account_email' as email_url %}

        <p>Para ter acesso a essa parte do site, você precisa ter seu e-mail verificado primeiro.</p>

        <p>Nós mandamos um e-mail para você autenticar sua conta, basta clicar no link de verificação e você será direcionado de volta para nosso site.
        Caso não receba esse e-mail nos próximos minutos, verifique sua caixa de spam. Se não estiver lá, entre em contato conosco!</p>

        <p><strong>Nota:</strong> você ainda pode <a href="{{ email_url }}">mudar seu endereço de e-mail</a>.</p>

    </div>
</div>

{% endblock %}
