{% extends 'main.html' %}
{% load static %}

{% block content %}

{# Banner Section #}
    <div id="banner-section">
        <div id="banner-copy">
        <h1>Otimize suas entregas<br> com a melhor rota!</h1>
        <h2>Descubra o caminho ideal<br>entre diversos endereços e<br><b>economize tempo e combustível</b></h2>
        <div id="register-btn"><a href="{% url 'register' %}">Cadastre-se e teste grátis por 7 dias</a></div>
        </div>
        <img id="banner-image" src="{% static 'images/mapa.png' %}">
    </div>

{% endblock %}