{% extends 'main.html' %}
{% load static %}

{% block content %}

{# Banner Section #}
    <div id="banner-section">
        <div id="banner-copy">
        <h1>Otimize suas entregas com a melhor rota!</h1>
        <h2>Descubra o caminho ideal<br>entre diversos endereços e<br><b>economize tempo e combustível</b></h2>
        <a id="register-btn" href="{% url 'register' %}">Teste grátis por 7 dias</a>
        </div>
        <img id="banner-image" src="{% static 'images/mapa.png' %}">
    </div>

{# Vantages Section#}
  <div id="vant-section">
      <div class="vantage">
        <h4>Não perca tempo!</h4>
        <p>Você não precisa mais ficar pensando qual o melhor caminho para realizar suas entregas.</p>
      </div>
      <div class="vantage">
        <h4>Economize dinheiro!</h4>
        <p>Chega de gastar errando o caminho ou realizando uma rota não otimizada.</p>
      </div>
      <div class="vantage">
        <h4>Evite stress!</h4>
        <p>Nosso roteirizador é fácil de usar e funciona perfeitamente. Além disso, conta com a opção de calcular a melhor rota evitando o trânsito.</p>
      </div>

    </div>

{% endblock %}